parameters:
  # 设置加密相关参数
  lark_app_bot.encryption_key: '%env(default:lark_app_bot_default_key:LARK_ENCRYPTION_KEY)%'
  lark_app_bot_default_key: 'default_encryption_key_placeholder'
  lark_app_bot.encryption_salt: 'lark_bot_default_salt_12345678'

  # 设置默认配置
  lark_app_bot:
    app_id: '%env(default::LARK_APP_ID)%'
    app_secret: '%env(default::LARK_APP_SECRET)%'
    verification_token: '%env(default::LARK_VERIFICATION_TOKEN)%'
    encrypt_key: '%env(default::LARK_ENCRYPT_KEY)%'
    cache_dir: '%env(default::LARK_CACHE_DIR)%'
    api_domain: 'https://open.feishu.cn'
    debug: '%kernel.debug%'
    webhook:
      enabled_events:
        - 'im.message.receive_v1'
        - 'im.chat.member.user.added_v1'

services:
  # 默认配置
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  # 自动配置
  _instanceof:
    Tourze\LarkAppBotBundle\Service\Message\Handler\MessageHandlerInterface:
      tags: ['lark.message_handler']
    Tourze\LarkAppBotBundle\Command\Handler\ActionHandlerInterface:
      tags: ['lark.action_handler']

  # 按目录自动注册
  Tourze\LarkAppBotBundle\Controller\:
    resource: '../../Controller/'
    tags: ['controller.service_arguments']

  Tourze\LarkAppBotBundle\Repository\:
    resource: '../../Repository/'

  Tourze\LarkAppBotBundle\Service\:
    resource: '../../Service/'
    public: true

  Tourze\LarkAppBotBundle\EventSubscriber\:
    resource: '../../EventSubscriber/'
    public: true

  Tourze\LarkAppBotBundle\Command\:
    resource: '../../Command/'

  # 缓存服务
  lark_app_bot.cache:
    class: Symfony\Component\Cache\Adapter\FilesystemAdapter
    arguments:
      $namespace: 'lark_app_bot'
      $defaultLifetime: 0
      $directory: '%kernel.cache_dir%/lark_app_bot'

  # 接口别名
  Tourze\LarkAppBotBundle\Service\Authentication\TokenProviderInterface:
    alias: Tourze\LarkAppBotBundle\Service\Authentication\TokenManager

  Tourze\LarkAppBotBundle\Service\Client\LarkClientInterface:
    alias: Tourze\LarkAppBotBundle\Service\Client\LarkClient

  Tourze\LarkAppBotBundle\Service\Message\MessageServiceInterface:
    alias: Tourze\LarkAppBotBundle\Service\Message\MessageService

  Tourze\LarkAppBotBundle\Service\User\UserServiceInterface:
    alias: Tourze\LarkAppBotBundle\Service\User\UserService

  Tourze\LarkAppBotBundle\Service\User\UserSyncServiceInterface:
    alias: Tourze\LarkAppBotBundle\Service\User\UserSyncService

  Tourze\LarkAppBotBundle\Service\User\UserCacheManagerInterface:
    alias: Tourze\LarkAppBotBundle\Service\User\UserCacheManager

  # 需要显式配置的服务
  Tourze\LarkAppBotBundle\Command\Handler\ActionHandlerRegistry:
    arguments:
      $handlers: !tagged lark.action_handler

  Tourze\LarkAppBotBundle\Service\Message\Template\TemplateManager:
    factory: ['Tourze\LarkAppBotBundle\Service\Message\Template\TemplateManager', 'createDefault']